<section id="contact">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-md-1"></div>
            <div class="col-md-4">
                <h2>Let's work together</h2>
                <p>I'm currently available for freelance projects. If there is something I can assist you with or you just want to tell me a good joke then drop me a line, I'd love to hear from you.</p>
                <a href="mailto:ian.coppa@gmail.com" class='contact-btn'>
                    <button class="btn btn-primary contact-btn">Message Me<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
                </a>
            </div>
            <div class="col-md-3">
            	<img class="" src="images/iancoppa-bw.png" />
            </div>
        </div>
    </div>
</section>
