<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <p>Thanks for stopping by. I'm Ian, a problem solver from the Emerald City. I like to build internet things. More specifically I do full stack web devlopement. I currently work with a team of brilliant developers at Intrepid Learning Solutions where we get to use some of the following technologies/libraries to make cool stuff:</p>
   		<ul class="list-unstyled">
   			<li>PHP, Java, Play Framework, Python</li>
   			<li>Backbone, MarionetteJS, RequireJS, Angular</li>
   			<li>SQL</li>
   		</ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
