<section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
    <div class="container" id="projects">
        <div class="row">
            <div class="col-sm-12 col-md-10 card-box-wrap">
                <div class="col-sm-12">
                    <h2 class="title">Experience</h2>
                    <p class="regular-text">For the last six years I've worked as a web devloper for Intrepid Learning Solutions. Below is a small sampling of some of the projects I've worked on.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <figure class="effect">
                    <img src="images/projects/spdru.png" alt="spdru">
                    <figcaption>
                        <h3>SPDR U University</h3>
                        <p>A custom rolled PHP framework that leverages the Smarty template engine for rendering views. All content and assessment engine accessed by way of a REST API. Data store powered by Mongo DB.</p>
                        <p>Additional Libraries and frameworks:
                            <div class='row'>
                                <div class='col-md-4'>
                                    <ul class='list-unstyled'>
                                        <li>jQuery</li>
                                        <li>Bootstrap</li>
                                        <li>Knockout</li>
                                        <li>Knockback</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-unstyled">
                                        <li>Require JS</li>
                                        <li>Raphaël JS</li>
                                        <li>SASS</li>
                                        <li>Apache Ant</li>
                                    </ul>
                                </div>
                            </div>
                        </p>
                        <a href="http://spdru.com/" target="_blank">View more</a>
                        <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
                        </span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-5">
                <figure class="effect">
                    <img src="images/projects/etfed.png" alt="spdru">
                    <figcaption>
                        <h3>ETF Ed.</h3>
                        <p>Built with Java using the playframework. This site allows investment professionals to earn professional credits.</p>
                        <p>Additional Libraries and frameworks:
                            <div class='row'>
                                <div class='col-md-4'>
                                    <ul class='list-unstyled'>
                                        <li>jQuery</li>
                                        <li>Marionette JS</li>
                                        <li>Require JS</li>
                                        <li>LESS</li>
                                    </ul>
                                </div>
                            </div>
                        </p>
                        <a href="http://spdru.com/etfe" target="_blank">View more</a>
                        <span class="icon"><span class="glyphicon glyphicon-new-window"></span></span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <figure class="effect">
                    <img src="images/projects/blog.png" alt="spdru" />
                    <figcaption>
                        <h3>SPDR Blog</h3>
                        <div class="row">
                            <div class='col-md-12'><p>Built with</p></div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>
                                <ul class='list-unstyled'>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                    <li>Marionette JS</li>
                                    <li>Require JS</li>
                                    <li>Backbone Stickit</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled">
                                    <li>Play Framework</li>
                                    <li>Mongo DB</li>
                                    <li>LESS</li>
                                    <li>JW Player</li>
                                    <li>Amazon CloudFront</li>
                                </ul>
                            </div>
                        </div>
                        <a href="http://blog.spdrs.com/" target="_blank">View more</a>
                        <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
                        </span>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-5">
                <figure class="effect">
                    <img src="images/projects/mobile.png" alt="spdru" />
                    <figcaption>
                        <h3>SPDRs Mobile</h3>
                        <div class="row">
                            <div class='col-md-12'>
                            	<p>Mobile specific site.  In addtion to user facing content, a custom API was built for securely transfering XML between business entities.</p>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-4'>
                                <ul class='list-unstyled'>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                    <li>Marionette JS</li>
                                    <li>Reuire JS</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled">
                                    <li>PHP</li>
                                    <li>Mongo DB</li>
                                    <li>SASS</li>
                                </ul>
                            </div>
                        </div>
                        <a href="http://spdrsmobile.com/" target="_blank">View more</a>
                        <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    </div>
</section>
